{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="px-5 py-3 mx-5 d-flex justify-content-between" {{ stimulus_controller('cart') }}>
        <div class="p-5 divCart">
                <h1 class="mb-5">Panier</h1>
                {% for cartElement in cart %}
                        <div class="d-flex mb-4" {{ stimulus_controller('cart', {productId: cartElement.product.id}) }}>
                                <div class="backgroundImage cart-product-image" style="background-image: url('{{ cartElement.product.image.url }}');"></div>
                                <div>
                                        <b class="h5"><strong>{{cartElement.product.brand.name}}</strong></b>
                                        <p>{{cartElement.product.name}}</p>
                                        <p class="sous-{{cartElement.product.id}} m-0">{{ (cartElement.quantity * cartElement.product.price) | round(2, 'floor') }} €</p>
                                        <p class="m-0">{{(cartElement.product.stock)}} en stock</p>
                                        <div class="d-flex gap-3">
                                                <input class="form-control" id="number" type="number" value="{{cartElement.quantity}}" min="1" max="{{cartElement.product.stock}}" {{ stimulus_action('cart','modifyElementFromCart','change') }}/>
                                                <a class="link-secondary link-offset-2 link-underline link-underline-opacity-0 my-auto" {{ stimulus_action('cart','deleteFromCart','click') }}>Supprimer</a>
                                        </div>
                                </div>
                        </div>
                {% endfor %}
                {% if cart|length == 0 %}
                        <h4>Votre panier est vide...</h4>
                {% endif %}
        </div>
        {% if cart|length > 0 %}
                <div class="p-5 bg-light border-start divRecap">
                        <h1 class="mb-5">Récapitulatif</h1>
                        <p class="sousTotal">Sous total : {{sousTotal | round(2, 'floor')}} €</p>
                        <button type="button" class="btn btn-primary" {{ stimulus_action('cart','sendForm','click') }}>Passer au paiement</button>
                        <p class="errorMessage text-danger pt-3"></p>
                </div>
        {% endif %}
</div>
{% endblock %}
