{% extends 'base.html.twig' %}

{% block title %}{{'login.title'|trans}}{% endblock %}

{% block body %}
<div class="m-5 px-5">
    <form method="post" class="mb-3">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show mx-5 px-5 m-2" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }} <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button></div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{ 'login.logged'|trans }} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'login.logout'|trans }}</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'login.message'|trans }}</h1>
        <label for="inputEmail">{{ 'login.email'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
        <label for="inputPassword">{{ 'login.password'|trans }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> {{ 'login.remember'|trans }}
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            {{ 'login.signIn'|trans }}
        </button>
    </form>
    <a href="/register">{{ 'login.register'|trans }}</a>
</div>
{% endblock %}
