{% extends is_granted("ROLE_ADMIN")
    ? 'dashboard/index.html.twig'
    : 'base.html.twig' %}

{% block title %}Description{% endblock %}
{% block body %}
{% include 'partials/flash.html.twig' %}
<div class="information">
    <div class="backgroundImage" style="background-image: url('{{ product.image.url }}');"></div>
    <div>
        <h1>{{product.name}}</h1>
        <p>Parfum <b class="importantInfo">{{product.category.name}}</b></p>
        <div class="description">
            <input type="checkbox" class="toggle-description" id="toggle-{{ product.id }}">

            <p class="short-description">{{ product.description }}</p>

            <label for="toggle-{{ product.id }}" class="toggle-label">
                <span class="read-more">Voir plus</span>
                <span class="read-less">Voir moins</span>
            </label>
        </div>
        <p>Quantité en stock : <b class="importantInfo">{{product.stock}}</b></p>
        <p>Status : <b class="importantInfo">{{product.status.value}}</b></p>
            {% if is_granted("ROLE_ADMIN") %}
                <div class="d-flex gap-5 p-0">
                    <a type="button" class="btn btn-secondary" href="{{ path('product.edit', {id: product.id}) }}">
                        Modifier
                    </a>
                    <form action="{{ path('product.remove', {id: product.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger d-flex">
                            Supprimer
                        </button>
                    </form>
                </div>
            {% elseif (product.status.value != "Non Disponible") and is_granted("ROLE_USER") %}
                <form action="{{ path('cart.add', {id: product.id}) }}" method="post">
                    <input class="form-control w-25 mb-3" id="number" type="number" value="1" min="1" max="{{product.stock}}" name="nb"/>
                    <button type="submit" class="btn btn-secondary d-flex gap-5">
                        <div>Commander</div>
                        <div class="p-0">{{product.price}} €</div>
                    </button>
                </form>
            {% endif %}
    </div>
</div>
{% endblock %}