<header>
    <p>Parfumerie Online</p>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('home') }}">Nos Parfums</a></li>

            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_dashboard') }}">Tableau de Bord</a></li>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>