<div {{ attributes }} class="justify-content-center">
    <input
        type="search"
        data-model="query"
        placeholder="Rechercher un produit" 
        class="form-control m-5 mx-auto w-50 d-flex" 
    >

    <div class="list">
        {% if is_granted("ROLE_ADMIN") %}
            <a href="/product/create" class="product">
                <div class="product-image backgroundImage" style="background-image: url('https://www.creativefabrica.com/wp-content/uploads/2019/05/Add-icon-by-ahlangraphic-1-580x386.jpg')">
                </div>
                <b>Ajouter</b>
            </a>
        {% endif %}
        {% for oneProduct in this.products %}
                <a href="/product/{{oneProduct.id}}/show" class="product" style="opacity: {{ oneProduct.status.value == 'Non Disponible' ? 0.5 : 1}};">
                    <div class="product-image backgroundImage" style="background-image: url('{{ oneProduct.image.url }}');">
                    </div>
                    <p>{{oneProduct.brand.name}}</p>
                    <p>{{oneProduct.name}}</p>
                    <p>{{oneProduct.price}} €</p>
                </a>
        {% else %}
            <p class="mx-auto">No products found "{{ query }}"</p>
        {% endfor %}
    </div>
</div>