{% extends 'base.html.twig' %}
{% block title %}Tableau de Bord{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light pe-3">
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Accueil</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/user">Voir les utilisateurs</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Gerer les parfums</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/order">Voir les commandes</a>
        </li>
    </ul>
    <span class="navbar-text"><a class="nav-link" href="/logout">Deconnexion</a></span>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="p-4">
    <div class="p-3 border mt-3 rounded">
        <h3>Statistiques :</h3>
        <div class="d-flex gap-4 my-5 justify-content-center">
        <ul class="list-group w-30">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de parfums par catégories:
            </li>
            {% for category in productsByCategory %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ category.category }}
                    <span class="badge bg-dark">{{ category.productCount }}</span>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-group w-25">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Ratio par status:
            </li>
            {% for status in productsByStatus %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ status.status.value }}
                    <span class="badge bg-dark">{{ status.proportion|round(1,'common') }} %</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div >
        <p>Gains durant les 12 derniers mois :</p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    {% for amount in totalAmountByMonth %}
                        <th scope="col">
                            {{ amount.month }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                    <tr>
                        {% for amount in totalAmountByMonth %}
                            <th scope="col">
                                {{ amount.totalAmount }} €
                            </th>
                        {% endfor %}
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="pt-3">
        <p>5 dernieres commandes :</p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for key, order in fiveLatestOrder %}
                    <tr>
                        <th scope="row">{{key + 1}}</th>
                        <td>{{order.reference}}</td>
                        <td>{{order.createdAt|date('d/m/Y')}}</td>
                        <td>{{order.status.value}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}