{% extends 'base.html.twig' %}
{% block title %}{{'adminDashboard.title'|trans}}{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light pe-3">
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard">{{'adminHeader.home'|trans}}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/user">{{'adminHeader.seeUsers'|trans}}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/order">{{'adminHeader.seeOrders'|trans}}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/home">{{'adminHeader.manageProducts'|trans}}</a>
        </li>
      <li class="nav-item active me-2">
        <select name="language" id="languageSelect" class="form-select">
          <option value="{{ path('change_locale', { '_locale': 'fr' }) }}" {{ app.request.locale == 'fr' ? 'selected' : '' }}>{{'language.french'|trans}}</option>
          <option value="{{ path('change_locale', { '_locale': 'en' }) }}" {{ app.request.locale == 'en' ? 'selected' : '' }}>{{'language.english'|trans}}</option>
        </select>
      </li>
    </ul>
    <span class="navbar-text"><a class="nav-link" href="/logout">{{'adminHeader.logout'|trans}}</a></span>
  </div>
</nav>

<script>
  document.getElementById('languageSelect').addEventListener('change', function() {
    const selectedUrl = this.value;
    window.location.href = selectedUrl;
  });
</script>
{% endblock %}

{% block body %}
<div class="p-4">
    <div class="p-3 border mt-3 rounded">
        <h3>{{'adminDashboard.stats'|trans}} :</h3>
        <div class="d-flex gap-4 my-5 justify-content-center">
        <ul class="list-group w-25">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b class="importantInfo">{{'adminDashboard.byCateg'|trans}} :</b>
            </li>
            {% for category in productsByCategory %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ category.category }}
                    <span class="badge bg-dark">{{ category.productCount }}</span>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-group w-25">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b class="importantInfo">{{'adminDashboard.byStatus'|trans}} :</b>
            </li>
            {% for status in productsByStatus %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ status.status.value }}
                    <span class="badge bg-dark">{{ status.proportion|round(1,'common') }} %</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div >
        <p class="importantInfo">{{'adminDashboard.earnings'|trans}} :</p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    {% for amount in totalAmountByMonth %}
                        <th scope="col">
                            {{ amount.month }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                    <tr>
                        {% for amount in totalAmountByMonth %}
                            <th scope="col">
                                {{ amount.totalAmount }} €
                            </th>
                        {% endfor %}
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="pt-3">
        <p class="importantInfo">{{'adminDashboard.latestOrders'|trans}} :</p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{'order.reference'|trans}}</th>
                    <th scope="col">{{'order.date'|trans}}</th>
                    <th scope="col">{{'order.status'|trans}}</th>
                </tr>
            </thead>
            <tbody>
                {% for key, order in fiveLatestOrder %}
                    <tr>
                        <th scope="row">{{key + 1}}</th>
                        <td>{{order.reference}}</td>
                        <td>{{order.createdAt|date('d/m/Y')}}</td>
                        <td>{{order.status.value}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}