{% extends 'dashboard/index.html.twig' %}

{% block title %}Visualiser les commandes{% endblock %}

{% block body %}
<div class="m-5 px-5">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">{{ knp_pagination_sortable(orders,"Reference","o.reference")}}</th>
                    <th scope="col">{{ knp_pagination_sortable(orders,"date","o.createdAt")}}</th>
                    <th scope="col">{{ knp_pagination_sortable(orders,"status","o.status")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{order.reference}}</td>
                        <td>{{order.createdAt|date('d/m/Y')}}</td>
                        <td>{{order.status.value}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(orders) }}
        </div>
</div>
{% endblock %}
