{% extends 'dashboard/index.html.twig' %}

{% block title %}Visualiser les utilisateurs{% endblock %}

{% block body %}
<div class="m-5 px-5">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">{{ knp_pagination_sortable(users,"ID","u.id")}}</th>
                    <th scope="col">{{ knp_pagination_sortable(users,"Email","u.email")}}</th>
                    <th scope="col">{{ knp_pagination_sortable(users,"Nom","u.firstName")}}</th>
                    <th scope="col">{{ knp_pagination_sortable(users,"Prenom","u.lastName")}}</th>
                    <th scope="col">{{ knp_pagination_sortable(users,"Roles","u.roles")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.roles[0]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
</div>
{% endblock %}
