{% extends 'dashboard/index.html.twig' %}

{% block title %}Visualiser les utilisateurs{% endblock %}

{% block body %}
<div class="m-5 px-5">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.roles[0]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
